<% @title = 'Assessments' %>
<div class="page-header">
  <h1>
    <%= @title %>
    <%= link_to "Create Assessment", new_assessment_path, class: 'btn btn-xs btn-primary' %>
  </h1>
</div>

<%= render :partial => "layouts/index_functionality", locals: { object: :assessments, per_page: params[:per_page], path: assessments_path } %>
<div id="assessments"></div>
