<% @title = 'Study Types' %>
<div class="page-header">
  <h1>
    <%= @title %>
    <%= link_to "Create Study Type", new_study_type_path, class: 'btn btn-xs btn-primary' %>
  </h1>
</div>

<%= render :partial => "layouts/index_functionality", locals: { object: :study_types, per_page: params[:per_page], path: study_types_path } %>
<div id="study_types" class="index-content"></div>
