<% @title = 'Users' %>
<div class="page-header">
  <h1>
    <%= @title %>
    <% if current_user.system_admin? %>
        <%= link_to "Create User", new_user_path, class: 'btn btn-xs btn-primary' %>
    <% end %>
  </h1>
</div>

<%= render :partial => 'layouts/index_functionality', locals: { object: :users, per_page: params[:per_page], path: users_path} %>
<div id="users" class="index-content"></div>