<% @title = 'Results' %>
<div class="page-header">
  <h1>
    <%= @title %>
    <%= link_to "Create Result", new_result_path, class: 'btn btn-xs btn-primary' %>
  </h1>
</div>

<%= render :partial => "layouts/index_functionality", locals: { object: :results, per_page: params[:per_page], path: results_path } %>
<div id="results"></div>
