<% @title = 'Studies' %>
<div class="page-header">
  <h1>
    <%= @title %>
    <%= link_to "Create Study", new_study_path, class: 'btn btn-xs btn-primary' %>
  </h1>
</div>

<%= render :partial => "layouts/index_functionality", locals: { object: :studies, per_page: params[:per_page], path: studies_path } %>
<div id="studies" class="index-content"></div>

