<% @title = 'Projects' %>
<div class="page-header">
  <h1>
    <%= @title %>
    <%= link_to "Create Project", new_project_path, class: 'btn btn-xs btn-primary' %>
  </h1>
</div>

<%= render :partial => "layouts/index_functionality", locals: { object: :projects, per_page: params[:per_page], path: projects_path } %>
<div id="projects" class="index-content"></div>
