<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
  <div class="file">
  {% for (var i=0, file; file=o.files[i]; i++) { %}
    <div class="preview"></div>
    <div class="name">{%=file.name%}</div>
    <div class="size">{%=o.formatFileSize(file.size)%}</div>
    {% if (file.error) { %}
    <div class="error">,<span>{%=locale.fileupload.error%}</span><span class="label label-important">{%=locale.fileupload.errors[file.error] || file.error%}</span></div>
  {% } else if (o.files.valid && !i) { %}
    <div class="progress progress-success progress-striped active"><span class="bar" style="width:0%;"></span></div>
    <div class="start">{% if (!o.options.autoUpload) { %}
      <button class="btn btn-primary">
        <i class="icon-upload icon-white"></i>
        <span>{%=locale.fileupload.start%}</span>
      </button>
      {% } %}</div>
    {% } else { %}
    <div></div>
    {% } %}
    <div class="cancel">{% if (!i) { %}
      <button class="btn btn-warning">
        <i class="icon-ban-circle icon-white"></i>
        <span>{%=locale.fileupload.cancel%}</span>
      </button>
      {% } %}</div>
  {% } %}
  </div>
</script>
