.asset_list {
  margin-top: 5px;
}

#asset_upload {
  table {
    table-layout: fixed;

    td {
      overflow: hidden;
    }

    td.delete {
      width: 105px;
    }
  }

  .progress {
    width: 100px;
  }

  #ajax_loader {
    display: none;
    position: absolute;
  }
}