div#admin_view {
  div#status {
    div.scorers {
      padding: 10px 0 0 10px;

      ul {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }

  div#results {

    h3 {
      margin-bottom: 10px;
    }

    #download_all {
      position: relative;
      height: 40px;
      margin-top: 10px;
      margin-bottom: 10px;

      .btn {
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }

    table {

      td.no_results {
        text-align: center;
      }
    }
  }
}
