.well-tab {
  position: absolute;
  top: -1px;
  right: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: white;
  border: 1px solid #ddd;
  color: #9da0a4;
  -webkit-border-radius: 0 4px 0 4px;
  -moz-border-radius: 0 4px 0 4px;
  border-radius: 0 4px 0 4px;
}

.well {
  position: relative;
}

#error_explanation {

}