<% @title = "#{@exercise.name}" %>
<div class="page-header">
  <h1>
    <%= @title %>
    <%= link_to "View Exercises", exercises_path, class: 'btn btn-mini' %>
  </h1>
</div>

<%= render "scorer_view" %>
